.hero {
    display: flex;
    justify-content: space-between;
    height: 450px;
    background: url("/images/dest/gimp.jpg") no-repeat 50%;
    background-size: cover;
}
.hero-title {
    color: #333;
    font-size: 36px;
}


